
.container {
    background-color: #030023;
    height: calc(100vh - 58px);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.size-normal{
    font-size: 50px;
    padding:20px;
}
.size-big{
    font-size: 120px;
}

.gold{
    color: RGB(228,137,0);
}

body{
    padding: 0;
    margin: 0;
}